.add-product{
border: solid 2px darkcyan;
display: flex;
text-align: center;
flex-direction: column;
float: left;
border-radius: 7px;
box-shadow: 2px 2px 4px rgba(0, 0, 0), 0.3;
}

.errors{
    text-align: center;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.text{
    text-align: center;
    color: darkcyan;
}

.label{
    margin: 100px;
}

