<app-navbar></app-navbar>
<!--
<router-outlet> è una direttiva Angular utilizzata per segnalare il punto in cui 
il sistema di routing deve inserire il componente associato a una specifica rotta. 
È una sorta di "punto di ancoraggio" dinamico nel tuo template HTML dove i componenti 
associati alle rotte verranno renderizzati.
Quando utilizzi il routing in Angular, hai un'applicazione con diverse viste o pagine 
che possono essere mostrate in base all'URL della pagina. Quando l'URL cambia per corrispondere
a una determinata rotta, Angular sostituirà il contenuto all'interno di <router-outlet>, 
dinamicamente senza dover ricaricare la pagina, con il componente associato a quella rotta.
E' UNA DIRETTIVA!
-->
<router-outlet></router-outlet> 